@import 'reset.css';

.content-size-container {
 width: 960px;
 margin: 0 auto;
}

.page-header {
 height: 100vh;
 background: url("../img/main-page-img.png") no-repeat center;
 background-size: cover;
 background-attachment: fixed;
 padding: 144px 81px;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
}

.page-title {
 font-family: 'Montserrat', sans-serif;
 font-size: 48px;
 font-weight: 700;
 text-transform: uppercase;
 color: #ffffff;
 margin-bottom: 16px;
}

.header-paragraph {
 color: #ffffff;
 font-size: 18px;
 font-family: 'Lato', sans-serif;
 margin-bottom: 26px;
}

.slogan {
 display: flex;
 align-items: center;
 font-family: 'Montserrat', sans-serif;
 font-size: 54px;
 font-weight: 700;
 text-transform: uppercase;
 text-align: center;
}

.slogan_who {
 color: #f1ad1d;
 background-color: #fff;
 padding: 51px 35px 43px 30px;
}

.slogan_main-part {
 padding: 50px 57px 42px 20px;
 background-color: rgba(0, 0, 0, 0.1);
 border: 1px solid #ffffff;
 color: #ffffff;
}

.section-title {
 font-size: 22px;
 font-family: 'Montserrat', sans-serif;
 font-weight: 700;
 color: #333333;
 margin-bottom: 35px;
 text-align: center;
 text-transform: uppercase;
}

.section-title .text-orange {
	display: inline-block;
	margin: 0 3px;
}

.section-paragraph {
 font-size: 17px;
 font-family: 'Lato', sans-serif;
 color: #4d4943;
 margin-bottom: 50px;
 text-align: center;
}

.white-line {
 background-color: #fff;
 height: 6px;
 width: 284px;
 margin: 0 auto;
 border: none;
}

.orange-line {
 background-color: #f1ad1d;
 height: 7px;
 width: 62px;
 margin: 0 auto;
 border: none;
}

.section_the-say {
 padding: 112px 0 134px;
}

.section_speed {
 height: 382px;
 background: url(../img/speed.jpg) no-repeat center;
 background-attachment: fixed;
 background-size: cover;
 padding: 151px 0 149px;
}

.section_secret {
 padding: 135px 0 177px;
}

.text-white {
 color: #fff;
}

.text-orange {
 color: #f1ad1d;
}

.section-title + .orange-line {
 margin-top: 58px;
}

.section_partners {
 background: url(../img/night-tree.jpg) no-repeat center;
 background-attachment: fixed;
 background-size: cover;
 padding: 175px 0 115px;
 height: 477px;
}

.partners-links {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 margin-top: 56px;
}

.section_trust {
 padding: 156px 0 119px;
}

.section_link {
 background: url(../img/fall.jpg) no-repeat center;
 background-attachment: fixed;
 background-size: cover;
 padding: 131px 0 119px;
 height: 487px;
}

.section_link-title {
 font-size: 18px;
 line-height: 30px;
 color: #ffffff;
 font-family: "Open Sans", sans-serif;
 width: 573px;
 margin: 58px auto 42px;
 text-align: center;
}

.section_goods {
 padding: 153px 0 179px;
}
